p.sample img{
    width:200px;
}

section {
 border-width: 1px;
 border-color: gray;
 border-style:solid;
 border-radius: 8px;
 text-align: center;
 padding: 36px;
 color: white;
 font-weight: bold;
 background-image: url(DSC_8618.jpg)
}
